---
import { reader } from '~/keystatic/reader';
import Layout from '~/layouts/layout.astro';
import { cn } from '~/lib/cn';
import { formatToAustralianDate, sortPosts } from '~/lib/posts';

const posts = sortPosts(await reader.collections.posts.all()).filter((post) =>
	process.env.NODE_ENV === 'production' ? !post.entry.isDraft : true,
);
---

<Layout title="Posts">
	<div class="mx-auto flex max-w-prose flex-col gap-4">
		<div class="prose dark:prose-invert">
			<h1>Posts</h1>
			<p class="[text-wrap:balance]">
				Longer form content.<br />For interesting links with limited commentary,

				{' '}<a href="links">check out the links section</a> instead.
			</p>
		</div>
		<ul class="flex max-w-prose flex-col gap-1 sm:gap-3" role="list">
			{
				posts.map(({ slug, entry }) => (
					<li
						class={cn(
							'prose dark:prose-invert break-words bg-white p-4 shadow sm:rounded-xl dark:bg-gray-800',
							entry.isDraft && 'border-2 border-dashed border-yellow-500',
						)}
					>
						<a class="inline-block" href={`/posts/${slug}`}>
							<h2 class="m-0">{entry.title}</h2>
						</a>
						<br />
						<time class="text-sm" datetime={entry.publishedAt}>
							{formatToAustralianDate(entry.publishedAt)}
						</time>
					</li>
				))
			}
		</ul>
	</div>
</Layout>
