@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		scrollbar-gutter: stable both-edges;
	}

	.dark {
		color-scheme: dark;
	}

	.light {
		color-scheme: light;
	}

	/* Apply scroll-margin to IDs */
	[id] {
		scroll-margin-top: theme(spacing[4]);
	}
}
