---
import { DocumentRenderer } from '~/keystatic/document-renderer';
import { reader } from '~/keystatic/reader';
import Layout from '~/layouts/layout.astro';

const page = await reader.singletons.about.readOrThrow();
const content = await page.content();
---

<Layout title="About">
	<div class="prose mx-auto dark:prose-invert">
		<DocumentRenderer document={content} />
	</div>
</Layout>
